{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

    <h1 class="d-flex justify-content-center" style="margin-top: 100px">Login</h1>

    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
