{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="container d-flex justify-content-center">You are currently not allowed to login</h1>
    <h4 class="d-flex justify-content-center">Wait for the administators to allow you to login.</h4>

    <div class="d-flex justify-content-center" style="margin-top:100px;">
        <a href="/" class="btn btn-primary btn-raised"> Go home </a>
    </div>
</div> 
{% endblock %}
