{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">Post allow</h1>

    <div class="d-flex" style="justify-content: center;padding-bottom: 20px;">
        <div class="mdc-select mdc-select--outlined mdc-select--focused" style="margin-top: 18px;">
            <i class="mdc-select__dropdown-icon"></i>
            <select class="mdc-select__native-control" onchange="redirect(this.value)">
                {# <option value="" disabled selected></option> #}
                {% if current is defined %}
                    <option value="">
                    Show All
                    </option>
                    <option {% if current == 0 %}selected{% endif %} value="0">
                    Not Allowed only
                    </option>
                    <option {% if current == 1 %}selected{% endif %} value="1">
                    Allowed only
                    </option>
                {% else %}
                    <option value="">
                    Show All
                    </option>
                    <option value="0">
                    Not Allowed only
                    </option>
                    <option value="1">
                    Allowed only
                    </option>
                {% endif %}
            </select>     
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                    <label class="mdc-floating-label"></label>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
            <div class="mdc-line-ripple"></div>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Allowed</th>
                    <th style="width:30%;">Reason</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.Category }}</td>
                    <td>{{ post.Title }}</td>
                    <td>
                        {% if post.Allowed == 1 %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        <a href="javascript:void(0)" onclick="showReason(this)">Show reason of allow...</a>
                        <div class="mdc-text-field  mdc-text-field--fullwidth mdc-text-field--textarea" style="margin-top: 18px;padding: 0px 20px;display:none;">
                            <div class="mdc-text-field-character-counter">0 / 10000</div>
                            <textarea readonly class="mdc-text-field__input" rows="4" cols="10" maxlength="140" onkeyup="transfer(this)">{{post.reason}}</textarea>
                
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                <label for="textarea" class="mdc-floating-label">Comment</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function showReason(el) {
            if(el.nextElementSibling.style.display === 'none') {
                el.nextElementSibling.style.display = 'inline-flex';
                el.nextElementSibling.nextElementSibling.style.display = 'inline-flex';
                el.innerHTML = "Hide reason of allow...";
            }
            else if(el.nextElementSibling.style.display === 'inline-flex') {
                el.nextElementSibling.style.display = 'none';
                el.nextElementSibling.nextElementSibling.style.display = 'none';
                el.innerHTML = "Show reason of allow...";
            } 
            
        }

        function redirect(direct) {
            window.location.href = `/post/reason/${direct}`
        }
    </script>

    <!-- <a href="{{ path('post_new') }}">Create new</a> -->
{% endblock %}
